@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../assets/font/Roboto-Medium.70ace38.woff2');
}

.product {
    max-width: 1448px;
    height: auto;
    padding: 0px 20px;
    margin: 50px auto 50px auto;
}

.zurnarx-title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}

.zurnarx-link {
    display: flex;
    align-items: center;
}

.zurnarx-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-family: 'Roboto-Medium';
}


.product-card {
    width: 237px;
    height: 356px;
    position: relative;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px inset;
}

.product-status {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 65px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    padding: 0 8px;
    margin-bottom: 5px;
    background-color: rgb(51, 51, 51);
    color: rgb(254, 194, 15);
}

.product-status2 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 66px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    padding: 0 8px;
    margin-bottom: 5px;
    background-color: red;
    color: white;
}

.product-status3 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 95px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    padding: 0 8px;
    margin-bottom: 5px;
    background-color: rgb(84, 198, 235);
    color: rgb(255, 255, 255);
}

.card-img-link {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}

.img {
    height: 180px;
}

.product-card-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0.5rem;
    padding: 0px 15px;
    height: 40px;
}

.product-card-price {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 15px;
}

.product-card-bottom-content {
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.basket-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 12px;
    height: 38px;
    background: #fbc100;
    border: 2px solid #fbc100;
    border-radius: 6px;
    max-width: 130px;
    cursor: pointer;
}

.heart,
.scales {
    font-size: 25px;
    color: rgb(172, 165, 165);
    cursor: pointer;
    margin-left: 16px;
}

.basket-titles {
    font-family: 'Roboto-Medium';
}


@media only screen and (max-width:500px) {
    .product-card {
        width: 200px;
        height: 356px;
    }

    .img {
        height: 160px;
    }

    .basket-titles {
        display: none;
    }

    .product-card-title {
        margin-bottom: 20px;
    }

    .zurnarx-title {
        font-size: 16px;
        line-height: 25px;
    }

    .zurnarx-link {
        font-size: 13px;
    }
}

@media only screen and (max-width:450px) {
    .product-card {
        max-width: 410px;
        width: 100%;
        height: 356px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img {
        height: 180px;
    }

    .basket-titles {
        display: block;
    }

    .product-card-title {
        margin-bottom: 0px;
    }
}