.categoriya {
    max-width: 1448px;
    margin: 0 auto;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.categoriy-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding: 0px 0px 20px 0px;
}

.categoriy-carousel {
    display: flex;
    align-items: center;
}

.categoriy-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #fff, #fff), #f7f7f7;
    border: 1px solid hsla(0, 0%, 92.5%, .7);
    box-shadow: 0 2px 24px rgb(0 0 0 / 6%);
    border-radius: 12px;
    padding: 16px 24px;
    cursor: pointer;
}

.cate-images {
    width: 44px;
    height: 44px;
}

.cate-text {
    margin-left: 24px;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #333;
}

@media only screen and (max-width:1150px) {
    .categoriy-card {
        flex-direction: column;
        height: 100px;
    }

    .cate-text {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
}

@media only screen and (max-width:850px) {
    .categoriy-card {
        height: 80px;
    }

    .cate-images {
        width: 30px;
        height: 30px;
    }

    .cate-text {
        font-size: 10px;
        line-height: 1rem;
    }
}

@media only screen and (max-width:768px) {
    .categoriya {
        padding: 0px 10px;
    }
}

@media only screen and (max-width:675px) {
    .cate-images {
        width: 20px;
        height: auto;
    }

    .cate-text {
        font-size: 8px;
        line-height: 10px;
    }
}

@media only screen and (max-width:550px) {

    .categoriy-card {
        padding: 0px 10px;
    }

    .cate-images {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width:450px) {
    .categoriy-card {
        padding: 0px;
        border: none;
        background: none;
        box-shadow: 0px 0px 0px white;
    }

    .cate-images {
        width: 15px;
        height: 15px;
    }

    .cate-text {
        font-size: 8px;
    }

    .categoriy-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        padding: 0px 0px 5px 0px;
    }
}