.container {
    max-width: 1448px;
    margin: 0 auto;
    padding: 0px 20px;
    margin-bottom: 50px;
}

.brend-card {
    width: 157px;
    height: 62px;
    background-color: white;
    border-radius: 10px;
    border: .5px solid rgb(245, 240, 240);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.swiper-button-disabled {
    opacity: .5;
    cursor: auto;
}

.brend-images {
    width: 78px;
    height: 30px;
}

.swiper-button-prev::after,
.swiper-button-next:after {
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

@media only screen and (max-width:1300px) {
    .brend-card {
        width: 100px;
        height: 50px;
    }

    .brend-images {
        width: 60px;
        height: auto;
    }
}

@media only screen and (max-width:900px) {
    .brend-card {
        width: 80px;
        height: 50px;
    }

    .brend-images {
        width: 40px;
        height: auto;
    }
}

@media only screen and (max-width:768px) {
    .container {
        padding: 0px 10px;
    }
}

@media only screen and (max-width:700px) {
    .brend-card {
        width: 50px;
        height: 30px;
    }

    .brend-images {
        width: 25px;
        height: auto;
    }

    .swiper-button-prev::after,
    .swiper-button-next:after {
        font-size: 15px;
    }
}

@media only screen and (max-width:440px) {
    .brend-card {
        width: 35px;
        height: 25px;
        border-radius: 5px;
    }

    .brend-images {
        width: 20px;
    }
}